html {
	font-size: 62.5%;
}
.header {
	background-color: #361F0E;
	opacity: 0.85;
	height: 60px;
	width: auto;
	text-align: right;
	padding: 0 300px;

}
 .header .active a {
	color: #F3550B;
	/*border-top: 14px solid #9b9b9b;*/
	padding-top: 21px;

}
.header ul {
	height: 100%;
}
.header li {
	display: inline-block;
	font-size: 2rem;
	font-family: "Indie Flower";
	text-transform: capitalize;
	height: 100%;
}
.header a {
	text-decoration: none;
	color: #ececec;
	height: 100%;
	display: inline-block;
	width: 100%;
	padding: 21px 16px 0 16px;
}
.header li:hover {
	background-color: #401D04;
	color: #fff;

}
.logo {
	display: inline-block;
	float: left;
	font-size: 4rem;
	font-family: "Ruge Boogie";
	padding-bottom: 14px;
	margin-top: 2px;
}
.logo a {
	color: #fff;
	padding-top: 7px;
}
.slider {
	background: url(/images/slider.jpg) no-repeat center center ;
	height: 470px;
	background-size: cover;
	width: auto;
	color: #fff;
}
.caption {
	text-align: center;
	padding-top: 190px;
}
.caption h1 {
	font-size: 8rem;
	font-family: "Ruge Boogie";
}

.caption h3 {
	font-size: 2.2rem;
	line-height: 62px;
	font-family: "Open Sans";
	text-transform: capitalize;
	color: #ececec;
	letter-spacing: 6px;
}
/*featured*/
.content {
	width: auto;
	background-color: #f8f8f8;
}
.featured {
	width: 884px;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.centered {
	margin: 0 auto;
}
.featured img {
	width: 442px;
	height: 338px;
	overflow: hidden;
	float: left;
}
.figcaption {
	font-size: 1.8rem;
	color: #565A5C;
	line-height: 25px;
	font-family: "Open Sans";
	font-weight: 300;
	text-align: center;
	width: 442px;
	height: 338px;
	padding: 110px 50px 0 50px;
	float: left;
	background-color: #fff;
}
.figure {
	width: 442px;
	height: 338px;
	position: relative;
	float: left;
	text-align: center;
}
.figure a {
	text-decoration: none;
	color: #fff;
}
.title {
	border: 4px solid #565A5C;
	width: auto;
	padding: 10px;
	color: #fff;
	float: left;
	font-size: 2.8rem;
	left: 50%;
	bottom: 50px;
	margin-left: -100px;
	font-family: "Indie Flower";
	position: absolute;
	text-align: center;
}
.title:hover {
	background-color: rgba(0,0,0,0.5);
}

.view a {
	font-size: 1.5rem;
	color: #F3550B;
	line-height: 60px;
	float: right;
	text-decoration: none;
}
.view a:hover {
	text-decoration: underline;
	color: #F34E00;
}

.pic-menu {
	width: auto;
	background: url(/images/coffee-menu.jpg) no-repeat center center;
	height: 372px;
	background-size: cover;
	position: relative;
}
.pic-menu a {
		text-decoration: none;
		color: #fff;

}
.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
  }
  .brunch {
	background: url(/images/brunch1mofif2.jpg) no-repeat center center;
	background-size: cover;
}
.location {
	width: 884px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid rgba(161, 173, 176, 0.05);
}
.map {
	width: 608px;
	overflow: hidden;
	float: left;
}
.info {
	width: 276px;
	height: 294px;
	float: left;
	text-align: center;
	color: #565A5C;
	font-size: 1.6rem;
	line-height: 32px;
	background-color: #fff;
	font-family: "Open Sans";
}
.adress img {
	width: 22px;
	height: 28px;
	margin-top: 15px;
}
.adress p a {
	color: #5F5C5C;
	text-decoration: none;
}
.adress a:hover {
	text-decoration: underline;
}
.adress {
	margin-top: 30px;
}
.loc {
	width: 1342px;
}
.footer-box {
	width: auto;
	background-color: #4A4A4A;
	height: auto;
}
.fboxes {
	width: 221px;
	height: auto;
	color: #fff;
	font-size: 2rem;
	text-transform: capitalize;
	font-family: "Indie Flower";
	text-align: center;
	float: left;
}
.fboxes li {
	display: inline-block;
	margin-top: 18px;
	padding-left: 10px;

}
.fboxes a {
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	font-size: 1.4rem;
	font-family: "Open Sans";
}
.fboxes h4 {
	font-family: "Indie Flower";
	font-size: 1.8rem;
}

.fboxes p {
	font-size: 1.4rem;
	text-transform: lowercase;
	margin-top: 18px;
	font-family: "Open Sans";
}
.form {
	margin-top: 23px;
}
.form input {
	width: auto;
	height: 42px;
	color: #979797;
	font-size: 1.3rem;
	border: 0;
	padding-left: 10px;
	float: left;
	margin-right: 0px;
}
.sign-up {
	background-color: #F3550B;
	font-size: 1.3rem;
	text-transform: capitalize;
	color: #fff;
	border: 0;
	margin-left: 0;
	height: 42px;
	float: left;
	margin-bottom: 30px;
}
.email-us {
	margin: 0 auto;
	width: 221px;
}
.line {
	width: 886px;
	border: 1px solid #979797;
	opacity: 0.32;
}
.line.short {
	width: 820px;
}
.clearfix.margin {
	margin-top: 30px;
}
.fmenu {
	text-align: center;
}
.fmenu a {
	color: #fff;
	font-size: 1.6rem;
	text-decoration: none;
	font-family: "Indie Flower";
}
.fmenu a:hover {
	color: #F3550B;
}
.fmenu li {
	display: inline-block;
	padding: 20px 0 0 20px;
}


/*coffee-menu-page*/


.background {
	width: auto;
	background: url(/images/brick-pattern.jpg) no-repeat center center;
	background-size: cover;
	padding-top: 50px;
}
.table {
	width: 884px;
	height: 700px;
	background: url(/images/dirty_old_shirt.png) repeat;
	box-shadow: 1px 0 10px 0 #4a4a4a;
	background-color: #262626;
	margin-bottom: 50px;

}
.row ul {
	display: inline-block;
	margin-top: 16px;
}
.row h4 {
	color: #F3550B;
	font-size: 3.6rem;
	font-family: "Indie Flower";
	text-transform: capitalize;
	padding-top: 60px;
}
.items li {
	color: #fff;
	font-size: 2rem;
	font-family: "Open Sans";
	line-height: 28px;
	font-weight: 300;
	text-transform: capitalize;
}
.items p {
	float: right;
	margin-left: 56px;
}
.choose {
	font-size: 1.8rem;
}
.menu-items {
	width: 624px;
	height: 700px;
	margin: 0 auto;
	padding-top: 42px;
	padding-left: 30px;
}
.col {
	float: left;
	width: 50%;
}
.recom-box {
	width: auto;
	background-color: #fff;
	text-align: center;
	border-top: 2px solid #D4D4D4;
	color: #565A5C;
	font-family: "Indie Flower";
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 2rem;
	padding-bottom: 50px;
}
.pic-box {
	margin-top: 30px;
}
.picb {
	display: inline-block;
	margin-left: 3px;
}
.picb img {
	width: 214px;
	height: 214px;
	overflow: hidden;
}


/*brunch-menu-page*/


.bg-brunch {
	width: auto;
	background-color: #e1e3e3;
	padding-top: 50px;
}
.brunch-table {
	width: 884px;
	text-align: center;
	height: auto;
	position: relative;


}
.brunch-box {
	width: 215px;
	height: auto;
	border: 1px solid #979797;
	overflow: hidden;
	display: inline-block;
	float: left;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
}
.brunch-box h4 {
	padding: 15px 0;
	font-family: "Indie Flower";
	color: #565A5C;
	font-size: 2rem;
	line-height: 2.8rem;
  text-transform: capitalize;
  font-weight: 300;
}

#columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	-moz-column-gap: 4px;
	column-count: 4;
	-webkit-column-gap: 4px;
	padding: 5px;
	margin-bottom: 50px;
}

/*contact-page*/
.contact-bg {
	width: auto;
	background-color: #f8f8f8;
	padding-top: 50px;
	padding-bottom: 50px;
}
.content-contact {
	width: 884px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
}
.pic-map {
	display: inline-block;
	float: left;
	margin-bottom: 22px;
	padding-top: 1%;
	padding-left: 1%;
}
.adress-contact {
	display: inline-block;
	float: left;
	margin-left: 38px;
	margin-right: 40px;

}
.info-contact h4 {
	font-family: "Open Sans";
	font-size: 2rem;
	text-transform: capitalize;
	color: #4A4A4A;
	font-weight: 600;
	padding-top: 8px;
}
.info-contact h5 {
	font-family: "Open Sans";
	font-size: 1.8rem;
	font-weight: 400;
	color: #5F5C5C;
	padding-top: 17px;
}
.info-contact p {
	color: #9B9B9B;
	padding-top: 6px;
	font-family: "Open Sans";
	font-size: 1.4rem;
	line-height: 16px;
	font-weight: 300;
}
.contact-us {
	width: 884px;
	height: auto;
	color: #9b9b9b;
	font-size: 1.4rem;
	font-family: "Indie Flower";
}
.contactform input {
	width: 100%;
	height: 37px;
	border: 1px solid #9b9b9b;
	margin-bottom: 8px;
	padding-left: 10px;
	font-family: "Open Sans";
	font-weight: 400;
}
.contactform textarea {
	width: 98%;
	border: 1px solid #9b9b9b;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 10px;
	padding-top: 10px;
	font-family: "Open Sans";
	font-weight: 400;
}
.contactform button {
		width: 224px;
		height: 42px;
		background-color: #79CF19;
		text-align: center;
		color: #fff;
		border: none;
		margin-top: 35px;
		margin-bottom: 35px;
		margin-left: 1%;
		color: #fff;
		font-size: 1.8rem;
		font-family: "Open Sans";
		text-transform: uppercase;
}
.wrap {
	width: 50%;
	display: inline-block;
	padding-left: 1%;
	padding-right: 1%;
	float: left;
}
.underline {
	border-top: 1px solid #979797;
	margin-top: 16px;
}

/*happy costumers*/

.testim-bg {
	background-color: #f8f8f8;
	width: auto;
}
.testim-bg p {
	font-size: 1.8rem;
	font-family: "Open Sans";
	color: #565A5C;
	line-height: 25px;
	margin-bottom: 40px;
	font-weight: 300;
	text-align: center;
}
.testim-content-costumer {
	width: 884px;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
}
.costumers-box .cell {
	overflow: hidden;
	height: 340px;
	width: 438px;
	position: relative;
	display: inline-block;
	border: 1px solid #d2d0d0;
	margin-right: 2px;
	margin-bottom: 4px;
}
.cell img {
	position: absolute;
	top: -100%;
	right: -100%;
	left: -100%;
	bottom: -100%;
	margin: auto;
	max-width: 117%;
}
.testim-content-costumer h1 {
	color: #565A5C;
	font-family: "Open Sans";
	margin-bottom: 50px;
	text-transform: lowercase;
	text-align: center;
	font-weight: 200;
	font-size: 3.8rem;
}
.testimonial {
	padding: 118px 60px;
}
.testimonial h2 {
	color: #fff;
	font-size: 1.8rem;
	font-family: "Open Sans";
	margin-bottom: 9px;
}
.testimonial p {
	color: #fff;
	font-size: 1.6rem;
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
}
.slick-dots li button:before {
	font-size: 1.5rem;
	color: #a68f8f;
}

.testim-bg2 {
	width: auto;
	background-color: #fff;
	margin-bottom: 50px;
}
.testim-bg2 p {
	font-size: 1.8rem;
	font-family: "Open Sans";
	color: #565A5C;
	line-height: 26px;
	margin-bottom: 40px;
	font-weight: 300;
}
.thirdbox {
	display: inline-block;
	width: 32.5%;
	height: 340px;
	overflow: hidden;
	border: 1px solid #d2d0d0;
	position: relative;
	margin-right: 4px;
}
.thirdbox img {
	position: absolute;
	top: -100%;
	right: -100%;
	left: -100%;
	bottom: -100%;
	margin: auto;
	max-width: 117%;
}
.image-slider {
	height: 340px;
}
