.header {
	background-color: #000;
	opacity: 0.85;
	height: 76px;
	width: auto;
	text-align: right;
	padding: 0 300px;

}
 .header .active a {
	color: #9b9b9b;
	border-top: 14px solid #9b9b9b;
	padding-top: 11px;

}
.header ul {
	padding-top: 26px;
}
.header li {
	display: inline-block;
	font-size: 20px;
	font-family: "Montserrat";
	text-transform: uppercase;
	padding-left: 28px;
}
.header a {
	text-decoration: none;
	color: #ececec;
}
.header li:hover a {
	background-color: #979797;
	color: #000;
	border-radius: 4px;
	padding: 2px 2px;

}
.logo {
	display: inline-block;
	float: left;
	font-size: 48px;
	font-family: "Ruge Boogie";
	padding-bottom: 14px;
	margin-top: 14px;
}
.logo a {
	color: #fff;
}
.slider {
	background: url(images/slider.jpg) no-repeat center center ;
	height: 470px;
	background-size: cover;
	width: auto;
	color: #fff;
}
.caption {
	text-align: center;
	padding-top: 190px;
}
.caption h1 {
	font-size: 80px;
	font-family: "Ruge Boogie";
}

.caption h3 {
	font-size: 22px;
	line-height: 62px;
	font-family: "Montserrat";
	text-transform: uppercase;
	color: #ececec;
}
/*featured*/
.content {
	width: auto;
	background-color: #E1E3E3;
}
.featured {
	width: 884px;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.centered {
	margin: 0 auto;
}
.featured img {
	width: 442px;
	height: 338px;
	overflow: hidden;
	float: left;
}
.figcaption {
	font-size: 18px;
	color: #565A5C;
	line-height: 23px;
	font-family: "Montserrat";
	text-align: center;
	width: 442px;
	height: 338px;
	padding: 110px 50px 0 50px;
	float: left;
	background-color: #fff;
}
.figure {
	width: 442px;
	height: 338px;
	position: relative;
	float: left;
	text-align: center;
}
.title {
	border: 4px solid #565A5C;
	width: auto;
	padding: 10px;
	color: #fff;
	float: left;
	font-size: 28px;
	left: 50%;
	bottom: 50px;
	margin-left: -100px;
	font-family: "Spirax";
	position: absolute;
	text-align: center;
}
.title:hover {
	background-color: rgba(0,0,0,0.5);
}
.view a{
	font-size: 15px;
	color: #F3550B;
	line-height: 60px;
	float: right;
}
.pic-menu {
	width: auto;
	background: url(images/coffee-menu.jpg) no-repeat center center;
	height: 372px;
	background-size: cover;
	position: relative;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
  }
  .brunch {
	background: url(images/brunch1mofif2.jpg) no-repeat center center;
	background-size: cover;
}
.location {
	width: 884px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid rgba(161, 173, 176, 0.05);
}
.map {
	width: 608px;
	overflow: hidden;
	float: left;
}
.info {
	width: 276px;
	height: 294px;
	float: left;
	text-align: center;
	color: ##565A5C;
	font-size: 20px;
	line-height: 32px;
	background-color: #fff;
}
.adress img {
	width: 22px;
	height: 28px;
	margin-top: 15px;
}
.adress p{
	color: #5F5C5C;
}
.adress {
	margin-top: 30px;
}
.loc {
	width: 1342px;
}
.footer-box {
	width: auto;
	background-color: #4A4A4A;
	height: auto;
}
.fboxes {
	width: 221px;
	height: auto;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Montserrat";
	text-align: center;
	float: left;
}
.fboxes li {
	display: inline-block;
	margin-top: 18px;
	padding-left: 10px;
}
.fboxes a {
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	font-size: 14px;
}
.fboxes p {
	font-size: 14px;
	text-transform: lowercase;
	margin-top: 18px;
}
.form {
	margin-top: 23px;
}
.form input {
	width: auto;
	height: 42px;
	color: #979797;
	font-size: 13px;
	border: 0;
	padding-left: 10px;
	float: left;
	margin-right: 0px;
}
.sign-up {
	background-color: #F3550B;
	font-size: 13px;
	text-transform: capitalize;
	color: #fff;
	border: 0;
	margin-left: 0;
	height: 42px;
	float: left;
	margin-bottom: 30px;
}
.email-us {
	margin: 0 auto;
	width: 221px;
}
.line {
	width: 886px;
	border: 1px solid #979797;
	opacity: 0.32;
}
.line.short {
	width: 820px;
}
.clearfix.margin {
	margin-top: 30px;
}
.fmenu {
	text-align: center;
}
.fmenu a {
	color: #fff;
	text-decoration: none;
	font-family: "Montserrat";
}
.fmenu li {
	display: inline-block;
	padding: 20px 0 0 20px;
}
